@use '../abstracts/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-system;
  background: $color-bg-primary;
  color: $color-text-primary;
  font-size: $font-size-base;
  line-height: 1.5;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}
